name: messenger-app-prod

services:
  messenger-api:
    build:
      context: ./apps/messenger-api
      dockerfile: Dockerfile
      target: production
    container_name: messenger-api
    restart: always
    env_file:
      - ./apps/messenger-api/.env
    networks:
      - messenger-network

  messenger-client:
    build:
      context: ./apps/messenger-client
      dockerfile: Dockerfile
      target: production
    container_name: messenger-client
    restart: always
    ports:
      - "80:80"
    networks:
      - messenger-network

networks:
  messenger-network:
    driver: bridge